<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <!-- 模拟spring的DispatchServlet -->
  <servlet>
  	<servlet-name>ClonegodMiniSpringMvc</servlet-name>
  	<servlet-class>clonegod.spring.mini.servlet.ClonegodDispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>servlet-mvc</param-name>
  		<param-value>application.properties</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ClonegodMiniSpringMvc</servlet-name>
  	<url-pattern>/*</url-pattern>
  </servlet-mapping>
  
</web-app>
